<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TuringSim Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TuringSim.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TuringSimApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TuringTool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8345AD2ED25A7000227F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8345BA2ED25A7200227F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8345C42ED25A7200227F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF83DEF2EDA0810009C977B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF83DFB2EDA0811009C977B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF83E052EDA0811009C977B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
